.habits-container{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
}

.eachHabit-main{
    width: 90%;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    background-color: #F7C4DC;
    border-radius: 10px;
    height: 120px;
}

.utility-btns button{
    margin-right: 20px;
    height: 30px;
    width: 80px;
}