.habits-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    align-items: center;
}

.eachHabit-main{
    width: 90%;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    background-color: #F7C4DC;
    border-radius: 10px;
    height: auto;
}

 button{
    margin-right: 20px;
    height: 30px;
    width: 120px;
    background-color: #477EFF;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 20px;
}

.nav-btn{
    margin-top: 30px;
}

.utility-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
}

@media only screen and (max-width : 768px){
    .habits-container{
        grid-template-columns: 1fr ;
        gap: 10px;
    }

    .eachHabit-main{
        width: 80%;
    }
}

@media only screen and (max-width : 425px){
    .utility-btns{
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .eachHabit-main{
        font-size: 13px;
    }
}