.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: #313131;
  color: white;
}

/* Modal Content */
.modal-content {
  background-color: #262626;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
 height: auto;
}


.habitDetail{
  background-color: #262626;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
 height: auto;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(149, 50, 50);
  text-decoration: none;
  cursor: pointer;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
}


.center-modal-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



.modal-inputs input{
    height:30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #313131;
    color: white;
    padding-left: 20px;
}



select , #date-input {
  background-color:#313131 ;
  height:30px;
  width: 50%;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
}


@media only screen and (max-width : 768px){
  .habitDetail, .modal-content{
 width: 80%;
  }

.center-modal-inputs{
 flex-direction: column;
  gap: 0;
}

.modal-content {
 height: 630px;
}

.save-btn{
  margin-left: 20px;
  margin-top: 20px;
}

select, #date-input {

  width: 100%;

}
}